
@media only screen and (min-width: 64rem) {


    h1{
        font-size: 2.2rem;
    }

    h4 {
        font-size: 1.2rem;
    }
    /*HEADER*/
    .logo-icons-navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .logo {
        width: 10%;
    }
    nav button {
        display: none;
    }
    nav ul {
        display: flex;
    }
    nav ul li a {
        border: none;
        font-size: 1.4rem;
    }
    .icons-container {
        display: flex;
        gap: 5px;
        order: 3;
    }

    .datetime {
        width: 90%;
    }

    nav ul li a {
        padding: .5rem 1rem;
    }


    /*MAIN CONTENT*/
    .hero img {
        height: 620px;
        font-size: 2.3rem;
    }

    .welcome {
        left: 25%;
        font-size: 1.5rem;
    }

    .join-button {
        position: absolute;
        top: 50px;
        font-size: 1rem;
        right: 25%;
        background-color:#b8336a;
        width: 50%;
        border: none;
        border-radius: 20%;
        padding: 5px;
        font-weight: bolder;
        
    }

    main {
        grid-template-columns: 1fr 3fr 1fr;
        grid-auto-rows: minmax(180px, auto);
    }    

    .spotlights {
        flex-direction: column;
    }
    .spotlights section:nth-child(3) {
        display: unset;
        flex: 50%;
        margin-top: 10px;
    }




    .event {
        grid-column: 1/2;
        grid-row: 1/2;
    }



    .event h2 {
        font-size: 1.3rem;
    }

    .event p {
        font-size: 16px;
    }

    .hero {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .new-release {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .join {
        grid-column: 1/2;
        grid-row: 3/4;

    }
    .spotlights {
        grid-column: 3/4;
        grid-row: 1/4;
        
    }


    /*footer*/

    .top-footer {
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
    }

    .top-footer .logo {
        margin: 0;
    }

}