
@media only screen and (min-width: 64rem) {


    .logo {
        width: 10%;
    }
    nav button {
        display: none;
    }

    nav ul {
        display: flex;
    }

    nav ul li a {
        border: none;
        font-size: 1.6rem;
    }

    .icons-container {
        display: flex;
        order: 3;
    }


    .datetime {
        order: 4;
        width: 90%;
    }
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }

    nav ul li a {
        padding: .5rem 1rem;
    }


    /*MAIN */

    main {
        grid-template-columns: 1fr 3fr 1fr;
        grid-auto-rows: minmax(180px, auto);
    }    
    

    .spotlights section:nth-child(3) {
        display: unset;
        flex: 50%;
        margin-top: 10px;
    }




    .event {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .hero {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .new-release {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .join {
        grid-column: 1/2;
        grid-row: 3/4;

    }
    .spotlights {
        grid-column: 3/4;
        grid-row: 1/4;
        
    }


    footer {
        font-size: 1rem;
        font-weight: bold;
       }
}